.selected-artist-info {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  align-items: baseline;
  margin-top: 100px;
  position: absolute;
  left: 80px;
  color: black;
  z-index: 10;
}

.record-title {
  font-size: 60px;
  margin-bottom: 10px;
  color: black !important;
}

.record-subtitle {
  color: black;
  font-size: 45px !important;
}

img {
  object-fit: cover;
}

.switcher-wrapper {
  position: relative;
  top: 370px;
  right: 130px;
}

.switcher {
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(184, 184, 184);
  border: 2px solid #7d7d7d;
  cursor: pointer;
  transform: rotate(-10deg);
  transition: all 0.3s linear;
}

.switcher::before {
  content: '';
  position: absolute;
  left: 30px;
  top: 0;
  width: 3px;
  height: 30px;
  background-color: #7d7d7d;
  transform: rotate(-15deg);
}

.switcher.switcher_active {
  transform: rotate(42deg);
  transform: all 0.3s linear;
}

.switcher-green {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 65px;
  bottom: 100px;
  border-radius: 50%;
  border: 1px solid black;
  filter: blur(1px);
  transform: all 0.3s linear;
}

.switcher-green_active {
  background-color: rgb(131, 205, 21);
  transform: all 0.3s linear;
  box-shadow: 0px 0px 10px 1px rgb(131, 205, 21), unset 0px 0px 10px 1px rgb(131, 205, 21);
}

.switcher-red {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 10px;
  bottom: 100px;
  border-radius: 50%;
  border: 1px solid black;
  filter: blur(1px);
  transform: all 0.3s linear;
}

.switcher-red_active {
  background-color: rgb(254, 0, 0);
  transform: all 0.3s linear;
  box-shadow: 0px 0px 10px 1px #b20a0a, unset 0px 0px 10px 1px #b20a0a;
}

.record-player {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.turntable {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #d76c5d;
  border-radius: 25px;
  width: 950px;
  height: 750px;
  box-shadow: 10px 10px 25px rgb(4, 4, 4);
}

.record-overlay {
  position: absolute;
  top: -10px;
  content: '';
  width: 710px;
  height: 710px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, 40%, rgba(255, 255, 255, 0.106), 60%, transparent);
}

.record-overlay_active {
  animation: platter-play 5s linear infinite;
  animation-delay: 1s;
}

.record {
  position: relative;
  left: -100px;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: repeating-radial-gradient(#131313 14.5%, #000000 16.1%);
  border: 5px solid #000000;
  z-index: 2;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.record_is-flipped {
  transform: rotate3d(1,1,0,180deg);
}

.flip-button {
  position: absolute;
  z-index: 10;
  top: 800px;
  left: 500px;
}

.record-center {
  width: 17px;
  height: 17px;
  z-index: 20;
  display: flex;
  background-color: rgb(197, 197, 197);
  border-radius: 50%;
  border: 8px solid rgb(34, 34, 34);
  position: absolute;
  top: 340px;
  left: 340px;
}

.record_active {
  animation: platter-play 5s linear infinite;
  animation-delay: 2s;
}

.band-img {
  position: absolute;
  width: 210px;
  height: 210px;
  left: 250px;
  top: 250px;
  border-radius: 50%;
  z-index: 2;
}

.band-img_active {
  animation: platter-play 5s linear infinite;
  animation-delay: 1s;
}

.flip-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 130px;
  left: 540px;
  cursor: pointer;
  z-index: 20;
}

.flip-button-box:hover {
  color: rgb(99, 99, 99);
}

.flip-img {
  width: 45px;
  height: 45px;
  transform: rotateX(52deg);
}

.undo-icon {
  position: absolute;
  bottom: 32px;
}

@keyframes platter-play {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.control {
  background-color: #292929;
  height: 70px;
  width: 40px;
  border-radius: 2px;
  position: absolute;
  right: -14px;
}

.tonearm {
  height: 430px;
  width: 12px;
  background-color: rgb(184, 184, 184);
  position: absolute;
  right: 120px;
  top: 90px;
  border-bottom-right-radius: 10px;
  z-index: 10;
  cursor: grab;
  transform: translateX(-50%);
}

.tonearm:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 12px;
  background-color: rgb(184, 184, 184);
  transform: rotate(30deg);
  right: 25px;
  bottom: -85px;
}

.tonearm:after {
  content: "";
  position: absolute;
  height: 0;
  width: 14px;
  border-top: 18px solid #292929;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: rotate(210deg);
  bottom: -94px;
  right: 50px;
}

.tonearm_active {
  transform: rotate(25deg);
  transition: all 0.7s linear;
}

.control-head {
  position: absolute;
  transform: translateX(-50%);
  width: 40px;
  height: 22px;
  background-color: #292929;
  right: 54px;
  bottom: -119px;
  transform: rotate(120deg);
  border-radius: 3px;
}

.control-axis {
  position: absolute;
  transform: translateX(-50%);
  top: 140px;
  right: -30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #292929;
  border: 3px solid #292929;
}

.record-back-button {
  position: absolute;
  top: 20px;
  left: 5px;
  color: black !important;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(270deg);
  width: 220px;
  height: 9px;
  position: absolute;
  right: -60px;
  background-color: #757373;
  border: none;
  outline: none;
  border-radius: 3px;
  border: 8px solid rgb(184, 184, 184);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 22px;
  background-color: rgb(22, 22, 22);
  cursor: pointer;
}

.animation4 {
  height: 50px;
}

